@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --banner: rgba(128, 128, 128, 0.1);
  --heroBanner: #f0e0ff;
  --globalBlue: #8cd0e3;
  --lightgrey: #f3f3f3;
  --loadBlack: #383636;
  --cartBorder: rgba(128, 128, 128, 0.2);
  --price: rgba(255, 0, 0, 0.6);
  --error: rgba(255, 0, 0, 0.2);
  /*Register*/
  --bg: #f0f2f5;
  --text: #606770;
  --borderTitle: #dadde1;
  --borderInput: #ccd0d5;
  --submit: #00a400;
  --submitHover: #46aa31;
  /*shadow*/
  --shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 10%);
}

html {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

/*Loading component*/

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid var(--lightgrey);
  border-top: 10px solid var(--loadBlack);
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}