.table_responsive {
  overflow-x: auto;
}

table {
  min-width: 760px;
  border-collapse: collapse;
  text-align: center;
  font-size: 0.8rem;
}

tr {
  border: 1px solid var(--cartBorder);
}

td {
  padding: 1rem 0;
}

thead > tr > th {
  width: 12.5rem;
  padding: 1rem 0;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--lightgrey);
}

td > svg {
  cursor: pointer;
}

td > img {
  width: 6.5rem;
  padding: 0.5rem;
  background: var(--lightgrey);
}

.basket_summary {
  width: 21rem;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: var(--shadow);
}

.basket_summary > h4 {
  position: relative;
  font-weight: 500;
}

.basket_summary h5 {
  font-weight: 400;
  color: var(--text);
}

.basket_summary > h4:before {
  background-color: #e3e1e1;
  content: "";
  height: 1px;
  left: 160px;
  position: absolute;
  top: 12.5px;
  transition: all 0.4s ease 0s;
  width: 50%;
  z-index: 1;
}

.shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coupon {
  margin: 2rem 0;
}

.coupon > input {
  width: 100%;
  background: var(--bg);
  border: 1px solid var(--borderInput);
  border-radius: .25rem;
  padding: .7rem;
  margin-top: .5rem;
  font-size: 1rem;
  line-height: 1rem;
}


.basket_summary > a:hover {
  background: var(--submitHover);
}

@media screen and (min-width: 769px) {
  .table_responsive {
    display: flex;
    justify-content: center;
  }

  table {
    width: 100%;
    font-size: 1rem;
  }

  .basket_summary {
    width: 23.125rem;
  }
}