table {
    border-collapse: collapse;
    text-align: center;
}
  
tr {
  border: 1px solid var(--cartBorder);
}

td {
  padding: 1rem 0;
}

thead > tr > th {
  width: 200px;
  padding: 1rem 0;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--lightgrey);
}

img {
  width: 6.25rem;
}