.quantity_btn {
  display: inline-block;
  height: 2.5rem;
  padding: 0;
  position: relative;
  width: 6.875rem;
}

.quantity_btn input {
  color: #333;
  float: left;
  font-size: 0.875rem;
  height: 2.5rem;
  margin: 0;
  width: 6.875rem;
  background: transparent none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  padding: 0;
  text-align: center;
}

.decrease {
  border-right: 1px solid #e5e5e5;
  height: 2.5rem;
  left: 0;
  padding-top: 0.5rem;
}

.increase {
  border-left: 1px solid #e5e5e5;
  height: 2.5rem;
  padding-top: 0.563rem;
  right: 0;
  top: 0;
}

.qty_btn {
  color: #333;
  cursor: pointer;
  float: inherit;
  font-size: 1rem;
  margin: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 20px;
  text-align: center;
}
