header {
	padding: 1rem 1rem 0;
}

header > h1 {
	text-align: right;
}

#menu__toggle {
	opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	left: 0 !important;
}

.menu__btn {
	position: fixed;
	top: 40px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 3;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: 0.25s;
}

.menu__btn > span::before {
	content: '';
	top: -8px;
}

.menu__btn > span::after {
	content: '';
	top: 8px;
}

.menu__box {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: #eceff1;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	transition-duration: 0.25s;
	gap: 3rem;
	z-index: 2;
}

.menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	transition-duration: 0.25s;
}

.menu__item:hover {
	background-color: #cfd8dc;
}

.cart,
.cart_icon {
	display: none;
	color: inherit;
}

@media screen and (min-width: 769px) {
	header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.5rem 3rem;
	}

	.menu__btn,
	#menu__toggle {
		display: none;
	}

	.menu__box {
		width: 100%;
		position: static;
		flex-direction: row;
		background: inherit;
		box-shadow: none;
		padding: 0;
		gap: 0;
	}

	.menu__box > div:first-of-type {
		flex: 9;
		display: flex;
		justify-content: center;
	}

	.menu__item {
		font-size: 1rem;
		padding: 0;
	}

	.menu__item:hover {
		background: none;
	}

	.menu__box > div {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.cart,
	.cart_icon {
		display: block;
		position: relative;
		cursor: pointer;
	}

	.cart_num {
		position: absolute;
		width: 15px;
		height: 15px;
		top: -3px;
		right: -8px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.7rem;
		border-radius: 50%;
		background: red;
	}
}
