header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}

nav {
  display: flex;
  gap: 1rem;
}

nav > a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header > div > a {
  text-decoration: none;
  color: inherit;
}