.card {
  width: 17.25rem;
}

.card_img {
  background: var(--lightgrey);
}

.card_img > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 1rem 0;
}

.card_img > a > img {
  width: 100%;
}

.card_desc {
  text-align: center;
  margin-top: 1rem;
}

.card_desc > a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.card_desc > p {
  font-weight: 500;
  letter-spacing: 1px;
}

.card_btn {
  width: 100%;
  background: var(--globalBlue);
  border: none;
  padding: .5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .5s ease-out;
  opacity: 0;
}

.card:hover .card_btn {
  opacity: 1;
  transition: all .1 ease-in;
  cursor: pointer;
}