.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: var(--heroBanner);
  padding: 0 3.5rem;
}

.hero_banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_banner > span {
  font-size: 1.5rem;
  font-weight: 700;
}

.hero_banner h2,
.hero_banner h3 {
  font-size: 4rem;
}

.hero_banner > div {
  margin-top: 3rem;
}

.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  text-decoration: none;
  border: 2px solid black;
  z-index: 1;
  color: black;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}