.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--heroBanner);
  padding: 3rem 3.5rem 0 3.5rem;
}

.hero img {
  width: 200px;
}


.hero_banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_banner > span {
  font-size: calc(3500vw / 1018);
}

.hero_banner h2,
.hero_banner h3 {
  font-weight: 500;
  font-size: calc(8000vw / 1018)
}

.hero_banner > div {
  margin: 1rem 0;
}

.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  text-decoration: none;
  border: 2px solid black;
  z-index: 1;
  color: black;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

@media screen and (min-width: 769px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero_banner {
    align-items: start;
  }

  .hero img {
    width: 280px;
  }

  .hero_banner > div {
    margin: 2.5rem 0;
  }

  .hero_banner > span {
    font-size: calc(2500vw / 1018);
  }

  .hero_banner h2,
  .hero_banner h3 {
    font-size: calc(6000vw / 1018)
  }
}

@media screen and (min-width: 1200px) {
  .hero img {
    width: 400px;
  }
}