.product {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.25rem 0.5rem;
}

.product_details {
  max-width: 500px;
}

.product_img {
  background: rgba(128, 128, 128, 0.1);
  padding: 2rem 0;
}

.product_img > img {
  width: 100%;
}

.product_desc > div:first-of-type {
  margin: 1.5rem 0;
}

.product_desc > div:first-of-type > h3 {
  font-weight: 500;
}

.product_desc > div:first-of-type > span {
  color: var(--price);
}

.product_desc > div:last-of-type {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

.product .btn41-43 {
  height: 38px;
  font-size: .7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  background: black;
}

.product .btn-41 {
  text-decoration: none;
  border: 2px solid black;
  z-index: 1;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}

.product .btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.product .btn-41:hover {
  color: rgba(0, 0, 0, 0.8);
}

.product .btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.product .btn-41:active {
  top: 2px;
}

@media screen and (min-width: 769px) {
  .product_details {
    max-width: 80%;
    display: flex;
    gap: 2.5rem;
  }

  .product_img {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product_desc > div:first-of-type {
    margin: 0;
  }

  .product_desc > div:first-of-type > h3 {
    font-size: calc(2000vw / 1018);
    font-weight: 500;
    letter-spacing: 3px;
  }

  .product_desc > div:first-of-type > span {
    font-size: calc(1700vw / 1018);
    letter-spacing: 1.5px;
  }

  .product_desc > div:nth-of-type(2) {
    margin-top: 2rem;
  }

  .product_desc > div:last-of-type {
    padding-bottom: 2rem;
    margin: 2rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .product_btn {
    justify-content: flex-start;
    margin: 0;
    gap: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .product_btn {
    gap: 2.5rem;
  }

  .product .btn41-43 {
    font-size: 1rem;
  }
}